*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #4793AF 40%, #FFC470 40%) no-repeat;
}

main {
  width: 50%;
  margin: 3rem auto;
  background-color: #DD5746;
  border-radius: 1rem;
}

.icons {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;

}

.icon:hover {
  color: #fff;
  border-top: 3px solid #fff;
  transition: all 0.5s;
}

.icon {
  padding-top: .3rem;
}

.delete {
  cursor: pointer;
}